{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Add Investment{% endblock %}

{% block body %}
  <h2>Add Investment</h2>
<h4>Account: {{account.name}}</h4>
<form method="POST" action="{{ url_for('.add_investment', account_id=account.id)}}">
  {{ form.hidden_tag() }}
  {{ render_field(form.name) }}
  {{ render_field(form.symbol) }}
  {{ render_field(form.shares) }}
  {{ render_field(form.price) }}
<input class="btn btn-primary" type="submit" value="Add Investment">
</form>
{% endblock %}