<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/ez.css">
</head>
<body>
<div class="container">
<h4>
    <a href="{{ url_for('main.index') }}">Home</a>
    | <a href="{{ url_for('main.index', current='get') }}">Get Current Prices</a>
    | <a href="{{ url_for('main.add_account') }}">Create Account</a>
    | <a href="{{ url_for('chart.charts') }}">Charts</a>
    | <a href="{{ url_for('main.view_history') }}">History</a>
</h4>
    <hr class="ez">
    {% block body %}

    {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $("#collapseacts").on("hide.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Show');
  });
  $("#collapseacts").on("show.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Hide');
  });
});

</script>

</body>
</html>