{% extends "base.html" %}

{% block title %}Accounts{% endblock %}

{% block body %}

<div class="panel-group">
    <h3>Total Value All Accounts: {{total}}
        <button type="button" class="btn btnc btn-primary btn-ez" data-toggle="collapse"
                data-target="#collapse_totals">Sub-Totals
        </button>
    </h3>
    <div id="collapse_totals" class="panel-collapse collapse in">
        <ul class="list-group">
            <div style="padding-bottom: 5px;">
                <button type="button" class="btn btnc btn-primary btn-ez collapsed" data-toggle="collapse"
                        data-target="#collapsret">By Retirement Class
                </button>
            </div>
            <div id="collapsret" class="panel-collapse collapse">
                {% for retirement_subtotal in retirement_class_sums %}
                <li class="list-group-item">
                    <h4>{{retirement_subtotal[1]}}: {{retirement_subtotal[0]}} ({{retirement_subtotal[2]}}%)
                        <button type="button" class="btn btnc btn-primary btn-ez collapsed" data-toggle="collapse"
                                data-target="#collapse{{retirement_subtotal[1]}}">Categories
                        </button>
                    </h4>
                    <div id="collapse{{retirement_subtotal[1]}}" class="panel-collapse collapse">
                        <ul style="list-style-type:none">
                            {% for type_subtotal in account_type_sums[retirement_subtotal[1]] %}
                            <li>
                                <h4>Type: {{type_subtotal[1]}}: {{type_subtotal[0]}} ({{type_subtotal[2]}}%)</h4>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </div>
            <div>
                <button type="button" class="btn btnc btn-primary btn-ez collapsed" data-toggle="collapse"
                        data-target="#collapseowners">By Owner
                </button>
            </div>
            <div id="collapseowners" class="panel-collapse collapse">

                {% for subtotal in account_owner_sums %}
                <li class="list-group-item">
                    <h4>Owner: {{subtotal[1]}}: {{subtotal[0]}} ({{subtotal[2]}}%)</h4>
                </li>
                {% endfor %}
            </div>
        </ul>
    </div>
</div>

<div class="panel-group">
    <h3>Accounts</h3>

    <div id="accounts" class="collapse in">
        <ul class="list-group">
            {% for account in accounts %}
            <li class="list-group-item">
                <h4 class="panel-title">
                    {{account.owner}} {{account.name}} ({{account.retirement_text()}} - {{account.category}})
                    {{account.value()}}
                    <a class="btn btn-primary btn-ez" href="{{ url_for('.edit', account_id=account.id) }}">Edit</a>
                    <button type="button" class="btn btnc btn-primary btn-ez collapsed" data-toggle="collapse"
                            data-target="#collapse{{account.id}}">Investments
                    </button>
                </h4>

                <div id="collapse{{account.id}}" class="panel-collapse collapse">

                    <ul style="list-style-type:none">
                        <li><b>Investments</b> <a
                                href="{{ url_for('.add_investment', account_id=account.id) }}">Add</a>
                        </li>
                        <ul style="list-style-type:none">
                            {% for inv in account.investments %}
                            <li>{{inv.symbol}} ({{inv.name}}) Shares: {{inv.shares}}, Price: {{inv.formatted_price()}},
                                Value:
                                {{inv.value()}}
                                <a href="{{ url_for('.edit_investment', investment_id=inv.id) }}">Edit</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </ul>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>

</div>
{% endblock %}






