{% extends "base.html" %}

{% block title %}Monte Carlo Simulation{% endblock %}

{% block body %}
<form class="form-inline" method="POST" action="{{ url_for('.monte_carlo')}}">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.rate.label }}: {{ form.rate(placeholder=rate, size=5) }}
    </div>
    <div class="form-group">
        {{ form.sigma.label }}: {{ form.sigma(placeholder=sigma, size=5) }}
    </div>
    <div class="form-group">
        {{ form.time.label }}: {{ form.time(placeholder=time, size=4) }}
    </div>
    <div class="form-group">
        {{ form.start_val.label }}: {{ form.start_val(placeholder=start_value, size=12) }}
    </div>
    <div class="form-group">
        {{ form.annual_contrib.label }}:
        {{ form.annual_contrib(placeholder=annual_contrib, size=10) }}
    </div>

    <button type="submit" class="btn btn-default btn-sm">Update</button>
    <div><b>Constant Rate:</b> {{("{:.1f}".format(rate*100))}}%</div>
</form>
<div class="row">
    <div class="col-md-4">
        <div><b>Constant Volatility:</b> {{sigma}}</div>
        <div><b>Initial Value:</b> {{start_val_for}}</div>
        <div><b>Mean final Value: </b> {{mean}}</div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Percentile</th>
                <th>Ending Value</th>
            </tr>
            </thead>
            {% for vals in stats['percentiles'] %}
            <tr>
                <td>{{vals[0]}}%</td>
                <td>{{vals[1]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <img src="/monte-carlo/paths.png"/>
    </div>
    <img src="/monte-carlo/histogram.png"/>

</div>

{% endblock %}