{% extends "base.html" %}

{% block title %}Monte Carlo Simulation{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Percentile</th>
                <th>Ending Value</th>
            </tr>
            </thead>
            {% for vals in stats['percentiles'] %}
            <tr>
                <td>{{vals[0]}}%</td>
                <td>{{vals[1]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}